*.pyc

*.avi

*.json

*.dat

*.tiff

*.mp4

*.h5

*.pkl

*.lock

*.xml

.coverage
.coverage.*

# Sphinx documentation
docs/_build/

.idea/
.ipynb_checkpoints/MoSeq2-Notebook-checkpoint.ipynb
.ipynb_checkpoints

id_travis_rsa
moseq2_app.egg-info
.idea/workspace.xml
dlc_utils/.DS_Store
.DS_Store
dlc_utils/
data/
test_run/

.vscode
__pycache__

*.eggs
*.log