git+https://{username}:{password}@github.com/dattalab/moseq2-extract.git@app
git+https://{username}:{password}@github.com/dattalab/moseq2-pca.git@app
git+https://{username}:{password}@github.com/dattalab/moseq2-model.git@app
git+https://{username}:{password}@github.com/dattalab/moseq2-viz.git@app
git+https://{username}:{password}@github.com/dattalab/moseq2-batch.git@app