<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>MoSeq2-Extract Operation</title>
        <link rel="icon" href="data:;base64,iVBORw0KGgo="> <!-- suppress GET error -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/extract_style.css">
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="/static/js/extract_script.js"></script>
        <meta name="description" content="MoSeq2 Data Extraction Page">
        <meta name="author" content="Ayman Zeine">
        <meta name="viewport" content="width=device-width , initial-scale=1, shrink-to-fit=no">
    </head>

    <body>

        <h1>Welcome to MoSeq2 Extract</h1>
    </body>

</html>