<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MoSeq2-App Home</title>
        <link rel="icon" href="data:;base64,iVBORw0KGgo="> <!-- suppress GET error -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/index_style.css">
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/static/js/index_script.js"></script>
        <meta name="description" content="MoSeq2 Application Home Page">
        <meta name="author" content="Ayman Zeine">
        <meta name="viewport" content="width=device-width , initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>

        <nav class="topnav">
            <ul id="horizontal-list">
                <li><a class="active" href="#home">Home</a></li>
                <li><a href="#extract">Extract</a></li>
                <li><a href="#pca">PCA</a></li>
                <li><a href="#model">Model</a></li>
                <li><a href="#viz">Viz</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#contribute">Contribute</a></li>
            </ul>
        </nav>
        <div id="main">
            <section id="home">
                <h1>Welcome to the MoSeq2 Application Home Page</h1>

                <h2>Select your Pipeline</h2>
                <button class="button button1">Full Pipeline</button>
                <br>
                <h2> Or, Jump in...</h2>
                <img src="/static/img/moseq2_pipeline.png" alt="Application Pipeline">

                <h2>MoSeq2-Application Overview</h2>
                <p>
                    Paragraph overviewing user affordances in this application.
                </p>

                <button class="button load-session" id="fixedbutton1">Load Previous Session</button>

                <button class="button save-session" id="fixedbutton2">Save Current Session</button>
            </section>

            <section id="extract"></section>
            <section id="pca"></section>
            <section id="model"></section>
            <section id="viz"></section>

            <section id="contact">
                <h1>Contact Us</h1>
            </section>

            <section id="contribute">
                <h1>Contribute</h1>
            </section>
        </div>

    </body>
</html>