<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MoSeq2-Model Operation</title>
        <link rel="icon" href="data:;base64,iVBORw0KGgo="> <!-- suppress GET error -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/model_style.css">
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="/static/js/model_script.js"></script>
        <meta name="description" content="MoSeq2 Modeling Operations Page">
        <meta name="author" content="Ayman Zeine">
        <meta name="viewport" content="width=device-width , initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <h1>Welcome to MoSeq2 Model</h1>
        <br>
        <div class="btn-group" id="command-options">
            <div class="batch-selector">
                <button class="choice" id="batch-mode">Batch Mode?</button>
            </div>
            <br>
            <button class="choice" id="dir-select-button">Select Data Directory</button>
            <br>
            <button class="choice" id="learn-model">Train ARHMM</button>
            <br>
            <button class="choice" id="separate-trans-button">Separate Transition Graphs?</button>
            <br>
            <button class="choice" id="count-frames">Count Frames</button>
        </div>
        <div class="choice-content">
            <h1>Right tab</h1>
        </div>
    </body>
</html>