<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MoSeq2-PCA Operation</title>
        <link rel="icon" href="data:;base64,iVBORw0KGgo="> <!-- suppress GET error -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/pca_style.css">
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="/static/js/pca_script.js"></script>
        <meta name="description" content="MoSeq2 Principal Component Analysis Utility/Visualization Page">
        <meta name="author" content="Ayman Zeine">
        <meta name="viewport" content="width=device-width , initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <h1>Welcome to MoSeq2 PCA</h1>
        <br>
        <div class="btn-group" id="command-options">

            <button class="choice" onclick="openTab(event, 'dir-select-tab')" id="dir-select-button">Init Step</button>
            <script>document.getElementById("dir-select-button").click();</script>
            <br>
            <button class="choice" onclick="openTab(event, 'load-pca-tab')" id="load-pca-button">Load PCA Model</button>
            <br>
            <button class="choice" onclick="openTab(event, 'train-pca-tab')" id="train-button">Train PCA Model</button>
            <br>
            <button class="choice" onclick="openTab(event, 'apply-pca-tab')" id="apply-pca-button">Apply PCA Model</button>
            <br>
            <button class="choice" onclick="openTab(event, 'compute-cp-tab')" id="compute-cp-button">Compute Changepoints</button>
        </div>
        <div>
            <section class="choice-content" id="dir-select-tab">
                <h1>Directory Selection Check</h1>
                <p>Ensure your files are in the correct directory.</p>
                <input type="checkbox"  class="c-box" id="dir-check" disabled>
            </section>
            <section class="choice-content" id="load-pca-tab">
                <h2>Load Previously Trained PCA into context</h2>
                <br>
                <button id="load-op" onclick="loadPCA()">Load PCA</button>
            </section>
            <section class="choice-content" id="train-pca-tab">
                <h2>Train new PCA using previously extracted data</h2>
                <br>
                <button id="train-op" onclick="trainPCA()">Train PCA</button>
                <br><br>
                <img class="plots" src="/static/img/pca_components.png">
                <br><br>
                <img class="plots" src="/static/img/pca_scree.png">
            </section>
            <section class="choice-content" id="apply-pca-tab">
                <h2>Apply Trained PCA</h2>
                <br>
                <button id="apply-op" onclick="applyPCA()">Apply PCA</button>
                <button id="score-view-op" onclick="displayScores()">View PCs</button>
                <button id="clip-op" onclick="clipScores()">Clip Scores</button>
            </section>
            <section class="choice-content" id="compute-cp-tab">
                <h2>Compute Syllable Changepoints</h2>
                <br>
                <button id="compute-op" onclick="computeCP()">Compute Changepoints</button>
                <br><br>
                <img class="plots1" src="/static/img/changpoints_dist.png">

            </section>
        </div>
    </body>
</html>