.tab#command-optionsE{
  float: left;
  height: 12%;
  font-size: 20px;
}
.tab button {
  float: left;
  height: 100%;
  background-color: #080808;
  border: 1px ghostwhite;
  text-align: center;
  color: whitesmoke; /* White text */
  padding: 20px 30px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 100%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}
.tabs {

}

#extract{
  margin-top: -70px;
  padding-top: 70px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  top: 150px;
  padding: 8px 8px 32px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a select{
  margin-top: 20px;
  padding: 8px 8px 32px 8px;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar a:hover select{
  color: coral;
  transition: 0.3s;
}

.sidebar .closebtn {
  position: absolute;
  top: 50px;
  left: 25px;
  font-size: 36px;
  margin-right: 50px;
}

.openbtn {
  float: right;

  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#extract-tab {
    transition: margin-right 0.5s;
    padding: 16px;
}

.modal-headerText {
    color: black;
}

.close {
    height: 25px;
    width: 25px;
}

a {text-decoration: none; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

#param-preview {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#param-previewheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

.row {
  border: 5px ghostwhite;
  width: 75%;
}

.column {
    justify: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

.columnL {
  font-size: 15px;
  text-align: center;
  float: left;
  width: 50%;
  background-color: #4CAF50;
  justify-content: center;
  height: 45px;
  border-bottom-style: solid;
}

.paramC {
    height: 40px;
    width: 40px;
}

.columnR {
  float: left;
  width: 50%;
  background-color: #4CAF50;
  justify-content: center;
  height: 45px;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
}

.rColumnR {
  float: left;
  width: 50%;
  background-color: #8B0000;
  justify-content: center;
  height: 45px;
  border-left-style: solid;
  border-bottom-style: solid;
}

.rColumnL {
  float: left;
  width: 50%;
  background-color: #8B0000;
  justify-content: center;
  height: 45px;
  border-bottom-style: solid;
}

#confirmParams {
    background-color: #080808;
    color: white;
    font-size: 25px;
}

.param {
    color: black;
    padding: 10px 5px;
    text-align: center;
}

.param2 {
    color: black;
    width: 75px;
    padding: 10px 5px;
    text-align: center;
}

.param3 {
    color: black;
    width: 55px;
    padding: 10px 5px;
    text-align: center;
}

#l {
  float: left;
  width: 50%;
  background-color: #4CAF50;
  justify-content: center;
  height: 70%;

}
#r {
  float: left;
  width: 50%;
  background-color: #8B0000;
  justify-content: center;
  height: 70%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  overflow: hidden;
}

.batch-selector {
  padding-bottom: 50px;
}

.tab#command-optionsE button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.tab#command-optionsE button:hover {
  background-color: #99ccff;
}

.tab#command-optionsE button#batch-modeE:hover {
  background-color: orange;
}

.tab#command-optionsE button#batch-modeE.active {
    background-color: orange;
}

.filelist {
    background-color: white;
    color: black;
}

.tab#command-optionsE button.active {
    background-color: #4CAF50;
}

#extraction-title {
    text-align: center;
}

#roi-op {
    background-color: #080808;
    color: white;
    font-size: 25px;
}

#extraction {
    float:left;
}

#extract-op {
    background-color: #080808;
    font-size: 25px;
    top: 75px;
    float:right;
}

#convert-op {
    background-color: #080808;
    color: white;
    font-size: 25px;
}

#copy-op {
    background-color: #080808;
    font-size: 25px;
}

/* Style the tab content */
#extract-tab .choice-content {
  float: initial;
  text-align: center;
  padding: 0px 0px 0px 275px;

  width: 100%;
  border-left: none;
}