html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.button1 {
  width: 40%;
  height: 50px;
  background-color: #080808;
  color: whitesmoke;
  font-size: 27px;
}

#fixedbutton1 {
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 20px;
    background-color: #080808;
    color: whitesmoke;
    z-index: 900;
}

#fixedbutton2 {
    position: fixed;
    bottom: 20px;
    left: 30px;
    font-size: 20px;
    background-color: #080808;
    color: whitesmoke;
    z-index: 900;
}

.topnav {
  display: table;
  margin: auto;
  text-align: center;
  overflow: hidden;
  background-color: #080808;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#horizontal-list {
  align: center;
  min-width: 696px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: auto;
}

.topnav ul#horizontal-list li a{
  float: left;
  color: white;
  display:block; /* IE6/7 haslayout trip-switch */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition:all 0.3s ease-in-out;
  font-size: 17px;
}

.topnav ul#horizontal-list li a:hover {
  background-color: crimson;
  color: black;
}

.topnav ul#horizontal-list li a:active {
  background-color: #4CAF50;
  color: black;
  border-bottom:3px solid white;
}

.active {
  background-color: #4CAF50;
  color: black;
  border-bottom:3px solid white;
}

#main {
    margin-top: 50px;
}

section {
    height: 1200px;
}

#home {
  top:40px;
  margin-top: 50px;
  data-offset: 50;

  background-color: crimson;
  color: white;
  text-align: center;
}

#extract {
  background-color: #99ccff;
  color: white;
  text-align: center;
}

#pca {
  background-color: #667fcc;
  color: white;
  text-align: center;
}

#model {
  background-color: #000080;
  color: white;
  text-align: center;
}

#viz {
  background-color: #8B0000;
  color: white;
  text-align: center;
}

#contact {
  height: 700px;
  background-color: #383838;
  color: white;
  text-align: center;
}

#contribute {
  height: 700px;
  background-color: #080808;
  color: white;
  text-align: center;
}
