html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.button1 {
  width: 40%;
  height: 50px;
  background-color: #080808;
  color: whitesmoke;
  font-size: 27px;
}

#fixedbutton1 {
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 20px;
    background-color: #080808;
    color: white;
    z-index: 900;
}

#fixedbutton2 {
    position: fixed;
    bottom: 20px;
    left: 30px;
    font-size: 20px;
    background-color: #080808;
    color: white;
    z-index: 900;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.help-button{
    position: fixed;
    background-color: #080808;
    font-size: 25px;
    float: left;
    left: 30px;
    top: 12px;
    color: white;
    z-index: 900;
}

.param-select{
    position: fixed;
    background-color: #080808;
    font-size: 25px;
    right: 30px;
    top: 12px;
    color: white;
    float: right;
    z-index: 900;
}


.topnav {
  display: table;
  margin: auto;
  text-align: center;
  overflow: hidden;
  background-color: #080808;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#horizontal-list {
  align: center;
  min-width: 696px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: auto;
}

.topnav ul#horizontal-list li a{
  float: left;
  color: white;
  display:block; /* IE6/7 haslayout trip-switch */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition:all 0.3s ease-in-out;
  font-size: 17px;
}

.topnav ul#horizontal-list li a:hover {
  background-color: crimson;
  color: black;
}

.topnav ul#horizontal-list li a:active {
  background-color: #4CAF50;
  color: black;
  border-bottom:3px solid white;
}

.active {
  background-color: #4CAF50;
  color: black;
  border-bottom:3px solid white;
}

#main {
    margin-top: 50px;
}

section {
    height: 1200px;
}

#home {
  top:40px;
  margin-top: 50px;
  data-offset: 50;

  background-color: crimson;
  color: white;
  text-align: center;
}

#extract {
  background-color: #99ccff;
  color: white;
  text-align: center;
}

#pca {
  background-color: #667fcc;
  color: white;
  text-align: center;
}

#model {
  background-color: #000080;
  color: white;
  text-align: center;
}

#viz {
  background-color: #8B0000;
  color: white;
  text-align: center;
}

#contact {
  height: 700px;
  background-color: #383838;
  color: white;
  text-align: center;
}

#contribute {
  height: 700px;
  background-color: #080808;
  color: white;
  text-align: center;
}
