.btn-group#command-options{
  float: left;
  height: 12%;
  font-size: 20px;
}
.btn-group button {
  float: left;
  height: 100%;
  background-color: #080808;
  text-align: center;
  color: whitesmoke; /* White text */
  padding: 20px 30px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 100%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.btn-group#command-options button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.batch-selector {
  padding-bottom: 50px;
}

/* Add a background color on hover */
.btn-group#command-options button:hover {
  background-color: #667fcc;
}

.btn-group#command-options button.active {
    background-color: #4CAF50;
}

/* Add a background color on hover */
.btn-group#command-options button#batch-modeM:hover {
  background-color: orange;
}

.btn-group#command-options button#batch-modeM.active {
    background-color: orange;
}


#mPl {
  float: left;
  margin-left: 15px;
  width: 50%;
  background-color: #4CAF50;
  justify-content: center;
  height: 70%;

}

#mPr {
  width: 49%;
  background-color: #8B0000;
  justify-content: center;
  margin-left: 0px;
  height: 70%;
  float:right;
}


.model-row {
    display: table;
    flex-direction: row;
    width: 75%;
    margin: 20px;
    margin-left: 15%;
}

.model-row:after {
  content: "";
  display: table;
  clear: both;
  overflow: hidden;
}

.model-column {
    float: left;
    margin-bottom: 0px;
    margin-top: 0px;
}

.model-columnL {
  font-size: 25px;
  text-align: center;
  float: left;
  width: 50%;
  background-color: #4CAF50;
  justify-content: center;
  height: 45px;
  border-bottom-style: solid;
}

.model-columnR {
  float: left;
  width: 50%;
  background-color: #4CAF50;
  align-content: center;
  height: 45px;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
}

.rmodel-columnR {
  float: left;
  width: 50%;
  background-color: #8B0000;
  justify-content: center;
  height: 45px;
  border-left-style: solid;
  border-bottom-style: solid;
}

.rmodel-columnL {
  float: left;
  width: 50%;
  background-color: #8B0000;
  font-size: 25px;
  display: flex;
  justify-content: center;
  height: 45px;
  border-bottom-style: solid;
}

.filecheckM {
    display: inline-block;
    width: 500px;
    height: 300px;
    border: 1px solid #000;
    margin-left: 50px;
    margin: 15px;
}

.columnR {
  float: left;
  width: 30%;
  background-color: #4CAF50;
  align-content: center;
  height: 45px;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
}

.columnL {
  font-size: 25px;
  text-align: center;
  width: 30%;
  background-color: #4CAF50;
  justify-content: center;
  height: 45px;
  border-bottom-style: solid;
}

#count-params {
    margin-left: 30%;
}


#load-op {
    background-color: #080808;
    color: white;
    font-size: 25px;
}

#train-op {
    background-color: #080808;
    color: white;
    font-size: 25px;
}

#count-op {
    background-color: #080808;
    color: white;
    font-size: 25px;
}

#train-model-tab.choice-content {
  float:none;
  text-align: center;
  height: 100%;
  width: 100%;
  border-left: none;
}
#count-frames-tab.choice-content {
  float:none;
  text-align: center;
  height: 100%;
  width: 100%;
  border-left: none;
}