.btn-group#command-options{
  float: left;
  height: 12%;
  font-size: 20px;
}

.btn-group button {
  float: left;
  height: 100%;
  background-color: #080808;
  border: 1px ghostwhite;
  text-align: center;
  color: whitesmoke; /* White text */
  padding: 20px 30px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 100%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.btn-group#command-options button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group#command-options button:hover {
  background-color: #000080;
}

.btn-group#command-options button.active {
    background-color: #4CAF50;
    border:3px solid white;
    border-right:3px solid white;
}


.tab#command-options button#batch-modeP:hover {
  background-color: orange;
}

.tab#command-options button#batch-modeP.active {
    background-color: orange;
}

.batch-selector {
  padding-bottom: 50px;
}

.tabs {
  margin-left: 250px;
}

/* Style the tab content */
#train-pca-tab.choice-content {
  float: none;
  text-align: center;
  height: 100%;
  width: 100%;
  border-left: none;
}
#apply-pca-tab.choice-content {
  float: none;
  text-align: center;
  height: 100%;
  width: 100%;
  border-left: none;
}
#clip-scores-tab.choice-content {
  float: none;
  text-align: center;
  height: 100%;
  width: 100%;
  border-left: none;
}
#compute-cp-tab.choice-content {
  float: none;
  text-align: center;
  height: 100%;
  width: 100%;
  border-left: none;
}
#gallery-tab.choice-content {
  float: none;
  text-align: center;
  height: 100%;
  width: 100%;
  border-left: none;
}

element.style {
    display: block;
}


#score-view-op {
    float:left;
    margin-left: 75px;
    background-color: #080808;
    color: white;
    font-size: 40px;
}

#trainfiles.filecheckP {
    display: inline-block;
    width: 500px;
    height: 300px;
    border: 1px solid #000;
    margin-left: 50px;
    margin: 15px;
}

#applyfiles.filecheckP {
    display: inline-block;
    width: 500px;
    height: 300px;
    border: 1px solid #000;
    margin-left: 50px;
    margin: 15px;
}

#cpfiles.filecheckP {
    display: inline-block;
    width: 500px;
    height: 300px;
    border: 1px solid #000;
    margin-left: 50px;
    margin: 15px;
}

#clip-op {
    background-color: #080808;
    color: white;
    font-size: 25px;
}

#load-op {
    background-color: #080808;
    color: white;
    font-size: 25px;
}

#train-params {
    background-color: #080808;
    color: white;
    font-size: 25px;
    margin-left: 5%;
}

#apply-params {
    background-color: #080808;
    color: white;
    font-size: 25px;
    margin-left: 5%;
}

#cp-params {
    background-color: #080808;
    color: white;
    font-size: 25px;
    margin-left: 5%;
}

#train-op {
    background-color: #080808;
    color: white;
    font-size: 25px;
}

.train-row {
    display: table;
    flex-direction: row;
    width: 75%;
    margin: 20px;
}

.train-row:after {
  content: "";
  display: table;
  clear: both;
  overflow: hidden;
}

.train-column {
    float: left;
    margin-bottom: 0px;
    margin-top: 0px;
}

.train-columnL {
  font-size: 25px;
  text-align: center;
  float: left;
  width: 50%;
  background-color: #4CAF50;
  justify-content: center;
  height: 45px;
  border-bottom-style: solid;
}

.train-columnR {
  float: left;
  width: 50%;
  background-color: #4CAF50;
  align-content: center;
  height: 45px;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
}

.rtrain-columnR {
  float: left;
  width: 50%;
  background-color: #8B0000;
  justify-content: center;
  height: 45px;
  border-left-style: solid;
  border-bottom-style: solid;
}

.rtrain-columnL {
  float: left;
  width: 50%;
  background-color: #8B0000;
  font-size: 25px;
  display: flex;
  justify-content: center;
  height: 45px;
  border-bottom-style: solid;
}

#tPl {
  float: left;
  margin-left: 15px;
  width: 50%;
  background-color: #4CAF50;
  justify-content: center;
  height: 70%;

}

#tPr {
  width: 49%;
  background-color: #8B0000;
  justify-content: center;
  margin-left: 0px;
  height: 70%;
  float:right;
}

#tPl1 {
  float: left;
  margin-left: 15px;
  width: 50%;
  background-color: #4CAF50;
  justify-content: center;
  height: 70%;

}

#tPr1 {
  width: 49%;
  background-color: #8B0000;
  justify-content: center;
  margin-left: 0px;
  height: 70%;
  float:right;
}


#tPl2 {
  float: left;
  margin-left: 15px;
  width: 50%;
  background-color: #4CAF50;
  justify-content: center;
  height: 70%;

}

#tPr2 {
  width: 49%;
  background-color: #8B0000;
  justify-content: center;
  margin-left: 0px;
  height: 70%;
  float:right;
}

.param {
    color: black;
    padding: 10px 5px;
    text-align: center;
}

.param2 {
    color: black;
    width: 75px;
    padding: 10px 5px;
    text-align: center;
}

.param3 {
    color: black;
    width: 55px;
    padding: 10px 5px;
    text-align: center;
}

.paramC{
    height: 35px;
    width: 35px;
}

#apply-op {
    background-color: #080808;
    color: white;
    font-size: 25px;
}

#displays {
    display:flex;
    flex-direction:row;
    justify-content: center;
}

.before {
    float: left;
    margin-top: 15px;
    margin-right: 50px;
    border: 1px solid black;
    height: 500px;
    width: 500px;

}

.after {
    margin-top: 15px;
    border: 1px solid white;
    height: 500px;
    width: 500px;
}

#compute-op {
    background-color: #080808;
    color: white;
    font-size: 25px;
}


.pca-grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
  margin: 20px;
  margin-left: 20%;
  margin-right: 20%;
}


#gallery-tab img {
  width: 100%;
  height: auto;
}

.pca-images:hover .img-title {
  opacity: 1;
}

.pca-images {
  position: relative;
}

.img-title {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(90,0,10,0.4);

  /* typographic styles */
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;

  /* position the text centrally*/
  display: flex;
  align-items: center;
  justify-content: center;

  /* hide the title by default */
  opacity: 0;
  transition: opacity .5s;
}

.pca-img {
    line-height: 0;
}