.btn-group#tab{
  float: left;
  height: 12%;
  font-size: 20px;
}
.btn-group button {
  float: left;
  height: 100%;
  background-color: #080808;
  border: 1px ghostwhite;
  text-align: center;
  color: whitesmoke; /* White text */
  padding: 20px 30px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 100%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #8B0000;
}

.btn-group#tab button.active {
    background-color: #4CAF50;
}


.Vrow {
  border: 5px ghostwhite;
  width: 75%;
  margin: 20px;
  margin-left: 20%;
}

.Vcolumn {
    justify: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

#vl {
  float: left;
  width: 100%;
  background-color: #4CAF50;
  justify-content: center;
  height: 70%;
}

.columnL {
  font-size: 25px;
  text-align: center;
  float: left;
  width: 50%;
  background-color: #4CAF50;
  justify-content: center;
  height: 45px;
  border-bottom-style: solid;
}


.columnR {
  float: left;
  width: 50%;
  background-color: #4CAF50;
  align-content: center;
  height: 45px;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
}


.paramC{
    height: 35px;
    width: 35px;
}

.choice-content {
  float: none;
  padding: 0px 0px;
  /*border: 10px solid #ccc;*/
  width: 100%;
  border-left: none;
  height: 300px;
}

#gen-index-op {
    background-color: #080808;
    color: white;
    font-size: 25px;
    margin-left: 15%;
}

#movie-select-op {
    background-color: #080808;
    color: white;
    font-size: 25px;
}

#crowd-op {
    background-color: #080808;
    color: white;
    font-size: 25px;
}

#scalar-op {
    background-color: #080808;
    color: white;
    font-size: 25px;
}

#trans-op {
    background-color: #080808;
    color: white;
    font-size: 25px;
}

#usage-op {
    background-color: #080808;
    color: white;
    font-size: 25px;
}